*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e1e1d0;
  }
  .Boem{
    color: aqua;
  }
  .knopje{
    background-color: aqua;
    margin: 50px 100px;
    padding: 5px 10px;
    font-size: xx-large;
    font-weight: 800;
    cursor: pointer;
  }
  .knopje:hover{
    background-color: rgb(255, 255, 255);
    border: 20px solid;
    transition: 2s;
  }
  .InlogPaginaGrid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 5fr 2fr;
    grid-auto-columns: 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    height: 100vh;
    background-color: #e1e1d0;
  }
  
  .InlogPaginaGrid form{
    
    background-color: white;
    border-radius: 20px;

  }

  .InlogPaginaBlokLinks {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .InlogPaginaBlokRechts {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .InlogPaginaBlokTop {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .InlogPaginaBlokBottom {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .InlogGrid {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-auto-columns: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
        height: 100%;
        text-align: center;
        width: 100%;
        border-radius: 50px;
        background-color: white;
    }
    .InlogGrid div button{
      height: 100%;      
    }

    .InlogBlokLinks {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 6;
      }
      .InlogBlokRechts {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
      }

    
      .InlogButton{
        background-color: #ffbf81;  
        text-decoration: none;
        border: none;
        width: 70%;
        height: 70%;
        border-radius: 20px;
      }

      .InlogInput {
          width: 100%;
          height: 50%;
          border-radius: 5px  ;
          
          
        }
        .InlogInputDiv {
          justify-items: middle;
          width: 70%;
          height: 30%;
          border-radius: 20px;
          text-align: center;
          text-decoration: none;
          border-radius: 10px;
        
        
      }
.Toevoegmodal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border: 2px solid black;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  border-radius: 50px;
}

.Toevoegmodal-header{
padding: 10px 15px;
display: flex;
justify-content: space-between;
align-items: center;
}
.Toevoegmodal-header .Modaltitel{
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 110px;
}
.Toevoegmodal-header .modalsluiten{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.Toevoegmodal-body{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  padding: 10px;
  padding-left: 50px;
}

.Toevoegmodallinks{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 10;
}

.Toevoegmodalrechts {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 10;
}
.ProductnaamToevoeg{
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.ProductnaamToevoeg:hover{
  background-color: #D0D0D0;
  transition: .4s;
}

.PrijsToevoeg{
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.PrijsToevoeg:hover{
  background-color: #D0D0D0;
  transition: .4s;
}

.KortingToevoeg{
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.KortingToevoeg:hover{
  background-color: #D0D0D0;
  transition: .4s;
}

.CategorieToevoeg{
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1.5px solid;
}

.CategorieToevoeg:hover{
  background-color: #D0D0D0;
  transition: .4s;
}

.BeschrijvingToevoeg{
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.BeschrijvingToevoeg:hover{
  background-color: #D0D0D0;
  transition: .4s;
}

.VoorraadToevoeg{
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.VoorraadToevoeg:hover{
  background-color: #D0D0D0;
  transition: .4s;
}

.BestandToevoeg{
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 10px;
}



.knoptoevoegmodal{
  cursor: pointer;
  color: #ffffff;
  background-color: #FFBF81;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 40px;
}
.knoptoevoegmodal:hover{
  background-color: #df8b37;
  transition: 0.5s;
}
      .InlogInputDiv {
        justify-items: middle;
      }
      .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white ;
        border-bottom:solid 10px #ffbf81;
      }
      
      .menu li {
        float: right;

      }
      
     .menu li a {
        display: block;
        color: black ;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .menu li a:hover {
        background-color: #D0D0D0 ;
      }
      .logo{
        width: 100px;
        height: 100px;
      top:100px;

      }

.Lampenoverzichtpaginagrid {
  display: grid;
  grid-template-columns: 1fr 5fr 20fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  ". . ."
  ". . ."
  ". . .";
  height: 100%;
  text-align: center;
  width: 100%;
  background-color: #e1e1d0;
}

.Lampenoverzichtpaginatop{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.Lampenoverzichtpaginalinks{
  grid-column-start: 1;
  grid-column-end: 1;
}

.Lampenoverzichtpaginarechts{
  grid-column-start: 4;
  grid-column-end: 4;
}

.Lampenoverzichtgrid{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
  ". . ."
  ". . ."
  ". . .";
  height: 100%;
  text-align: center;
  width: 96%;
  background-color: white;
  margin: 0 2% 0 2%;
  border-radius: 15px;

}
.Lampenoverzichtgrid div{
  border-radius: 15px;
}

.Lampenoverzichtfilteren{
 grid-area: 2/ 2 / 2 / 2;
  height: 250px;
  background-color: white;
  border-radius: 50px;
}

.Lampenoverzichtfotos{
  width: 100%;
  height: 100%;
}

.homebodylichaam{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  gap: 5% 5%;
  grid-auto-flow: row;
  padding: 10px;
  height: 100vh;
  text-align: center;
  width: 100%;
  background-color: #e1e1d0;
}
.homepaginaLinks{
  grid-area: 1/ 1 / 5 / 1;
}

.homepaginaRechts {
grid-area: 1/ 5 / 5 / 5;
}
/*adminoverzicht*/
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
}
h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
  margin: 10px 200px 10px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #FFBF81;
}



.open-button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 20%;
  border-radius: 5px ;
}

/* The poopup form - hidden by default */
.form-popup {
  position: fixed;
  box-shadow: 0px 25px 25px rgb(51, 51, 51);
  background: #ffffff ;
  left: 32.5%;
  top: 10%;
  width: 35%;
  border: 1px;
  border-style: inset;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.form-popup:target {
  visibility: visible;
  opacity: 1;
}

.sluitknop{
color: black;
position: relative;
float: right;
cursor: pointer;
opacity: 0.8;
font-size: x-large;
margin-right: 4%;
}
.sluitknop:hover{
opacity: 1;
color: #ff5f43;
}

.naam{
  color: white;
  position: relative;
  bottom: 22.5px;
  margin: 0% 40% 0% 40%;
  border:solid 1px black;
  border-radius: 10px;
  background: rgb(255, 102, 0);
}
.tijd{
    color: rgb(255, 102, 0);;
    float: right;
    padding-right: 5%;
}
.datum{
  border-bottom: solid 1px rgb(255, 102, 0) ;
  color: rgb(255, 102, 0);
  margin: 0% 30%;
}
.Winkelmandje {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 80vh;
}
.winkelwagen{
  height:80px;
  width: 80px;
  position: absolute;
  right: 0;
  text-align: right;
  border: solid black;
}

.productoverzichtpagina{
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 1fr 20fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 100vh;
  background-color: #b4b4b4;
}
.productoverzicht{
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 5fr 1fr 2fr;
  grid-auto-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 100%;
  grid-area: 2 / 2 / 2 / 2;
  background-color: white;
  border-radius: 10px;
}

.Productnaam{
  grid-area: 2 / 2 / 2 / 2;
  text-align: center;
}

.Productfoto{
  grid-area: 3 / 2 / 6 / 2;
  border-color: #717171;
}

.ProductSlideShow {
  grid-area: 3 / 2 / 6 / 3;
}

.producttekst {
  grid-area: 4 / 4 / 4 / 6;
}

.productprijs {
  grid-area: 3 / 4 / 3 / 4;
}

.productvoorraad {
  grid-area: 3 / 5 / 3 / 5;
  background-color: rgb(0, 179, 39);
  border-radius: 10px;
  height: 50%;
  text-align: center;
  color: white;
}

.productAantal {
  grid-area: 5 / 4 / 5 / 4;
}
.productwinkelmandtoevoeg{
  grid-area: 5 / 5 / 5 / 5;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  align-self: center;
}

.active, .dot:hover {
  background-color: #717171;
}


@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

.dotalign{
  align-items: center;
  text-align: center;
}


.fotoindex{
  padding: 10px;
  height: 100%;
  text-align: center;
  width: 100%;
}

.indexknop{
  padding: 10px 70px;
  background-color: #FFBF81;
  color: #ffffff;
}

.indexknop:hover{
  background-color: #df8b37;
}
@media screen and (min-width: 800px) {
  .homebodylichaam {
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  }
}